# All OUTPUT files
!OUTPUT/*
!OUTPUT/.gitkeep
doc_work/
OUTPUT/*
*.ipynb_checkpoints

### Latex
*.tex
*.aux
*.bbl
*.log
*.fdb_latexmk
*.fls
*.out
*.gz

### Tags
*.tags
*.tags1
.DS_Store
